.myForm{
  margin-top: 30px;
  display:flex;
  justify-content: center;
}

.newbutton{
  padding:10px;
}

.myCircle{
  display: inline-block;
  width:20px;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin-top: 20px;
  margin-left: 30px;
  box-shadow: 0 2px 2px #ccc;
}

