<app-random-numbers></app-random-numbers>

<form class="myForm">
<button (click)="onButtonClick()" class="newbutton" type="submit">New numbers</button>
</form>

<div class ="circle" style="display: flex; margin-right: 20px; justify-content: center">
  <div class="myCircle">{{this.numbers[0]}}</div>
  <div class="myCircle">{{this.numbers[1]}}</div>
  <div class="myCircle">{{this.numbers[2]}} </div>
  <div class="myCircle">{{this.numbers[3]}}</div>
  <div class="myCircle">{{this.numbers[4]}}</div>
</div>


<hr style="margin-top:30px;">

<form style="margin-top: 20px">
  <div>Gallery</div>
  <input style="padding: 10px; margin-top: 20px" class="passwordInput" type="password" name="password" [(ngModel)]="password" placeholder="Enter a password"/>
 <button type="button"   style="margin-left:20px"> Open form</button>

</form>




